<a href="https://colab.research.google.com/github/sen-com/NLP-100-knokes-cp2/blob/main/14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．
!wget https://nlp100.github.io/data/popular-names.txt

--2020-11-09 08:26:28--  https://nlp100.github.io/data/popular-names.txt
Resolving nlp100.github.io (nlp100.github.io)... 185.199.108.153, 185.199.111.153, 185.199.110.153, ...
Connecting to nlp100.github.io (nlp100.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55026 (54K) [text/plain]
Saving to: ‘popular-names.txt’

popular-names.txt   100%[===================>]  53.74K  --.-KB/s    in 0.03s

2020-11-09 08:26:29 (2.01 MB/s) - ‘popular-names.txt’ saved [55026/55026]

In [22]:
n=5
with open('popular-names.txt') as data_file:
  for i, line in enumerate(data_file):
    if i >= n:
      break
    print(line.rstrip())

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

In [24]:
!head --lines=5 popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

In [25]:
import pandas as pd

df = pd.read_table('popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])

In [27]:
def output_head(N):
  print(df.head(N))

In [28]:
output_head(5)

        name sex  number  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880