<a href="https://colab.research.google.com/github/sen-com/NLP-100-knokes-cp2/blob/main/15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．
!wget https://nlp100.github.io/data/popular-names.txt

--2020-11-09 08:47:45--  https://nlp100.github.io/data/popular-names.txt
Resolving nlp100.github.io (nlp100.github.io)... 185.199.109.153, 185.199.108.153, 185.199.110.153, ...
Connecting to nlp100.github.io (nlp100.github.io)|185.199.109.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55026 (54K) [text/plain]
Saving to: ‘popular-names.txt’

popular-names.txt   100%[===================>]  53.74K  --.-KB/s    in 0.03s

2020-11-09 08:47:45 (1.98 MB/s) - ‘popular-names.txt’ saved [55026/55026]

In [2]:
import pandas as pd

df = pd.read_table('popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])

In [3]:
def output_head(N):
  print(df.head(N))

def output_tail(N):
  print(df.tail(N))

In [4]:
output_tail(5)

          name sex  number  year
2775  Benjamin   M   13381  2018
2776    Elijah   M   12886  2018
2777     Lucas   M   12585  2018
2778     Mason   M   12435  2018
2779     Logan   M   12352  2018

In [5]:
!tail -n 5 ./popular-names.txt

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [7]:
n=5
with open('popular-names.txt') as file:
  lines = file.readlines()

  for line in lines[-n:]:
    print(line.rstrip())

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [8]:
!tail --lines=5 popular-names.txt

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018