<a href="https://colab.research.google.com/github/sen-com/NLP-100-knokes-cp2/blob/main/16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．
!wget https://nlp100.github.io/data/popular-names.txt

--2020-11-09 10:16:33--  https://nlp100.github.io/data/popular-names.txt
Resolving nlp100.github.io (nlp100.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to nlp100.github.io (nlp100.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55026 (54K) [text/plain]
Saving to: ‘popular-names.txt’

popular-names.txt   100%[===================>]  53.74K  --.-KB/s    in 0.02s

2020-11-09 10:16:33 (3.41 MB/s) - ‘popular-names.txt’ saved [55026/55026]

In [2]:
import pandas as pd

df = pd.read_table('popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])

In [3]:
with open('popular-names.txt') as file:
  lines = file.readlines()

In [8]:
import math 
n = int(input('N-->'))
count= len(lines)
unit = math.ceil(count/n)
# デフォルトだとenumerate()関数のインデックスは0から始まる。
# 0以外の数値から開始したい場合は、enumerate()関数の第二引数に任意の開始数値を指定する。
for i, offset in enumerate(range(0, count, unit), 1):
  with open('child_{:02d}.txt'.format(i), mode='w') as out_file:
    for line in lines[offset:offset+unit]:
      out_file.write(line)

N-->10

RangeIndex(start=0, stop=2780, step=1)

In [14]:
def split_file(N):
  # インデックス番号の初期化
  tmp = df.reset_index(drop=False)
  df_cut = pd.qcut(tmp.index, N, labels=[i for i in range(N)])
  df_cut =pd.concat([df, pd.Series(df_cut, name='sp')], axis=1)

  return df_cut

df_cut = split_file(10)
print(df_cut)

           name sex  number  year sp
0          Mary   F    7065  1880  0
1          Anna   F    2604  1880  0
2          Emma   F    2003  1880  0
3     Elizabeth   F    1939  1880  0
4        Minnie   F    1746  1880  0
...         ...  ..     ...   ... ..
2775   Benjamin   M   13381  2018  9
2776     Elijah   M   12886  2018  9
2777      Lucas   M   12585  2018  9
2778      Mason   M   12435  2018  9
2779      Logan   M   12352  2018  9

[2780 rows x 5 columns]

In [15]:
!split -l 200 -d popular-names.txt sp